*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    width: 200px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px;
}
#box1{
    background-color: red;
}
#box2{
    background-color: yellow;
}
#box3{
    background-color: green;
}
.pole{
    width: 40px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    position: relative;
    justify-content: center;
    top: -10px;
    left: 80px;
}